# Python
__pycache__/
*.pyc
*.pyo
venv/
.env
*.egg-info/
.pytest_cache/
.mypy_cache/

# Uploads
backend/uploads/

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.agent/
.gemini

# Docker environment override
backend/.env.docker